/*======================
Table of contents
========================

1. Links position
2. MediaQuery
*/

footer.flex {
  justify-content: space-between;
  padding-bottom: 1rem;
}

/*===============
1. Links position
================*/

footer.flex ul {
  gap: 1rem;
}

footer.flex ul a {
  color: var(--subtitle);
  font-size: 0.9rem;
  font-weight: 400;
}

footer.flex ul a:hover {
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 500;
}

footer.flex p {
  color: rgb(113 113 122);
}

/*===============
2. MediaQuery
================*/

@media (max-width: 800px) {
  footer.flex {
    flex-direction: column;
    gap: 2rem;
  }
}
